<% show_post ||= false %>

<div class='row'>
  <div class="col-xs-1 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post,comment, vote: true), method: 'post' do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <% end %>
    <br/>
    <% else %>
      <%= link_to '', "tabindex" => "0", "data-toggle" => "popover", "data-trigger" => "hover", "data-content" => "Must be logged in!" do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <% end %>
    <br/>
    <% end %>
    <%= comment.total_votes %>
    <br/>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post,comment, vote: false), method: 'post' do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      <% end %>
    <br/>
    <% else %>
      <%= link_to '', "tabindex" => "0", "data-toggle" => "popover", "data-trigger" => "hover", "data-content" => "Must be logged in!" do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <% end %>
    <br/>
    <% end %>
  </div>
	<div class="col-xs-8 col-xs-offset-1 well">
    "<%= comment.body %>"
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <p>
			<span class='quiet'>by </span><%= link_to comment.creator.username, user_path(comment.creator) %>
			<small>at <%= display_friendly_date(comment.created_at) %></small>
    </p>
  </div>
</div>
