<div class='row'>
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
        <i class='icon-thumbs-up'></i>
      <% end %>
    <br/>
    <% end %>
    <%= pluralize(post.total_votes, 'vote') %>
    <br/>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
        <i class='icon-thumbs-down'></i>
      <% end %>
    <% end %>
  </div>
	<div class="span8 well">
		<%= render post.categories %>
		<h4><%= link_to post.title, url_with_protocol(post.url) %></h4>
		<p><%= post.description %></p>
		<p>
			<span class='quiet'>posted by </span><%= link_to post.creator.username, user_path(post.creator) %>
			<small>on <%= display_friendly_date(post.created_at) %></small>
		</p>
		<span>
			<%= link_to("#{post.comments.size} comments", post_path(post))%>
		</span>
	</div>
</div>
