<p class='pull-right'>
	<%= link_to 'edit this post', edit_post_path(@post), class: 'btn btn-success btn-small' %>
</p>

<p>
	<%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
	<%= @post.description %>
</p>
<hr/>

<div class='row'>
	<div class='span8'>
    <%= form_for [@post, @comment] do |f| %>
      <%= render 'shared/errors', controller_object: @comment %>
 
    	<div class="control-group">
    		<%= f.label :body, "Leave A Comment" %>
    		<%= f.text_area :body, rows: 5, class: 'span6' %>
    	</div>
      </br>
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<h5>Comments:</h5>

<% @post.comments.each do |comment| %>
  <div class='row'>
  	<div class="span8 well">
      "<%= comment.body %>"
      <p>
  			<span class='quiet'>by </span><%= link_to comment.creator.username, '' %>
  			<small>at <%= display_friendly_date(comment.created_at) %></small>
      </p>
    </div>
  </div>
<% end %>