<%if logged_in? %>
  <p class='pull-right'>
  	<%= link_to 'edit this post', edit_post_path(@post), class: 'btn btn-success btn-small' %>
  </p>
<% end %>

<p>
	<%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
	<%= @post.description %>
</p>
<hr/>

<% if logged_in?%>
  <div class='row'>
  	<div class='span8'>
      <%= form_for [@post, @comment] do |f| %>
        <%= render 'shared/errors', controller_object: @comment %>
 
      	<div class="control-group">
      		<%= f.label :body, "Leave A Comment" %>
      		<%= f.text_area :body, rows: 5, class: 'span6' %>
      	</div>
        </br>
        <%= f.submit "Create Comment", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end%>

<% if !@post.reload.comments.empty? %>
  <h5>Comments:</h5>
<% end %>

<% @post.reload.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>